<div id="contact" class="container">
    <h2>Contact Me</h2>

    <div class="form">
        <form class="form1">
            <input type="text" name="name" class="field" placeholder="Enter Your Name"><br>
            <input type="text" name="email" class="field" placeholder="Enter Your Email"><br>
            <textarea name="msg" id="msg" placeholder="Enter Your Message" style="height: 80px;"></textarea>
            <button class="button"> Submit</button>


        </form>
        <div class="info">
            <div class="info_container email">
                <img src="../../../assets/img/email.png"/>
                <span>beracahetok@gmail.com</span>
            </div>
            <div class="info_container phone">
                <img src="../../../assets/img/phone.png"/>
                <span>090 4800 2486</span>
            </div>
            <div class="info_container linkedin">
                <img src="../../../assets/img/linkedin.png"/>
                <span>Beracah Etok</span>
            </div>
            <div class="info_container instagram">
                <img src="../../../assets/img/instagram.png"/>
                <span>beracahetok</span>
            </div>
            <div class="info_container location">
                <img src="../../../assets/img/location.png"/>
                <span>Lagos-state.</span>
            </div>

        </div>
    </div>




</div>