<section id="about">
    <h1 class="headings">ABOUT ME</h1>
    <div id="pic">

        <img src="../../../assets/img/edi2.png">
        <div id="intro">
            <h2> ETOK BLESSING </h2>
            <P> I am software engineer
                experienced in developing a responsive and adaptive design.
                I am goal-driven, have good problem solving skills, verbal communication and interpersonal skills.
            </P>
          <!-- <app-skills></app-skills>-->
        </div>
    </div>

</section>