<section id="skills">
    <h1 class="headings">SKILLS</h1>
    <div id="row">

       <div class="html">
           <p>HTML</p>
            <div class="progressbar">
                <div class="html_progress">
                </div>
            </div>
       </div>
       <div class="css">
        <p>CSS</p>
         <div class="progressbar">
             <div class="css_progress">

             </div>
         </div>
    </div>
    <div class="js">
        <p>JAVASCRIPT</p>
         <div class="progressbar">
             <div class="js_progress">

             </div>
         </div>
    </div>
    <div class="csharp">
        <p>C#</p>
         <div class="progressbar">
             <div class="csharp_progress">

             </div>
         </div>
    </div>
        
            

    
    </div>


</section>